body {
  background: radial-gradient(circle at top left, #1f1f1f, #000);
}

.neon-card {
  background-color: #1c1c1c;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.1);
}

.dark-input {
  background-color: #2c2c2c;
  border: 1px solid #444;
  color: #fff;
  border-radius: 0.5rem;
}

.dark-input:focus {
  background-color: #2c2c2c;
  border-color: #0ff;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 255, 0.25);
  color: #fff;
}

.btn-accent {
  background: linear-gradient(135deg, #0ff, #00f5c9);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem;
  transition: 0.3s ease;
}

.btn-accent:hover {
  background: linear-gradient(135deg, #00f5c9, #0ff);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.6);
}

.text-accent {
  color: #0ff;
}

input::placeholder {
  color: white;
  opacity: 0.3;
}

#tablesection {
  margin-top: 3rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  color: #fff;
  margin-top: 1rem;
}

th,
td {
  padding: 0.8rem;
  border: 1px solid #444;
  text-align: center;
}

th {
  background-color: #00bcd4;
  color: #111;
}

td button {
  background-color: #f44336;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 4px;
  margin: 0 4px;
  cursor: pointer;
}

td button:hover {
  background-color: #d32f2f;
}

td button:first-child {
  background-color: #4caf50;
}

td button:first-child:hover {
  background-color: #388e3c;
}
.custom-pdf-btn {
  background-color: #e63946;
  color: white;
  border: 2px solid #e63946;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(230, 57, 70, 0.3);
}

.custom-pdf-btn:hover {
  background-color: #fff;
  color: #e63946;
  border-color: #e63946;
  box-shadow: 0 6px 15px rgba(230, 57, 70, 0.5);
  transform: translateY(-2px);
}
mark {
  background-color: yellow;
  color: black;
  padding: 0 2px;
  border-radius: 2px;
}
