<div
  class="container-fluid d-flex align-items-center justify-content-center min-vh-100 bg-dark text-white flex-column p-3">
  <div class="card neon-card text-white p-4 border-0 w-100" style="max-width: 420px;">
    <h3 class="text-center mb-4 fw-bold">ASR FORM</h3>

    <form autocomplete="off">

      <div class="mb-3">
        <label for="productname" class="form-label">Product Name</label>
        <input type="text" id="productname" class="form-control dark-input" placeholder="Enter product name" required
          [(ngModel)]="ProductName" name="productname">
      </div>

      <div class="mb-3">
        <label for="productprice" class="form-label">Product Price </label>
        <input type="text" id="productprice" class="form-control dark-input" placeholder="Enter product price" required
          [(ngModel)]="ProductPrice" name="productprice">
      </div>

      <div class="mb-3">
        <label for="productquantity" class="form-label">Product Quantity </label>
        <input type="number" id="productquantity" min="1" class="form-control dark-input"
          placeholder="Enter product quantity" [(ngModel)]="ProductQuantity" name="productquantity">
      </div>

      <div class="mb-3">
        <label for="productdate" class="form-label">Date</label>
        <input type="date" id="productdate" placeholder="dd/mm/yy" class="form-control dark-input"
          [(ngModel)]="ProductDate" name="productdate">
      </div>

      <!-- <div class="mb-3">
        <label for="income" class="form-label">Income Amount</label>
        <input type="text" id="income" placeholder="amount" class="form-control dark-input" [(ngModel)]="incomeAmount"
          name="income">
      </div> -->

      <button type="button" class="btn btn-accent w-100 mt-2" (click)="save()">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </form>
  </div>

  <div class="card neon-card text-white p-4 border-0 w-100 mt-3" style="max-width: 420px;">
    <form>
       <div>
        <label for="customername">Customer Name</label>
        <input type="text" id="customername" placeholder="Enter customer name" class="form-control dark-input"
          [(ngModel)]="customername" name="customername">
      </div>

      <div class="mt-4">
        <label for="advance">Advance Amount</label>
        <input type="number" id="advance" placeholder="Amount" class="form-control dark-input"
          [(ngModel)]="advanceAmount" name="advance">
      </div>

    </form>
  </div>


  <div class="mt-4 w-100" style="max-width: 900px;">
    <section hidden id="tablesection">
      <div class="mb-3 d-flex gap-2 flex-wrap">
        <input type="text" class="form-control bg-black text-white" placeholder="Search product name"
          [(ngModel)]="searchTerm" />
      </div>

      <div *ngIf="filteredProducts().length === 0" class="text-danger mb-3">
        No products found.
      </div>

      <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered align-middle text-center
        ">
          <thead class="table-info text-dark">
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Product Name</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.Date ? (product.Date | date:'dd.MM.yy') : '-' }}</td>
              <td [innerHTML]="highlightMatch(product.Product_Name, searchTerm)"></td>
              <td>{{ product.Product_Quantity || '-' }}</td>
              <td>{{ product.Product_Price }}</td>
              <td class="">
                <i class="bi bi-pencil-square text-success p-1" (click)="editProduct(product)"></i>
                <i class="bi bi-trash text-danger p-1" (click)="deleteProduct(product.id)"></i>
              </td>
            </tr>
            <tr>
              <td colspan="3"><strong>Total Amount (₹) </strong></td>
              <td colspan="3" style="padding-right:56px;">Rs.{{ getTotalPrice() }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong>Income Amount (₹)</strong></td>
              <td colspan="3" style="padding-right:56px;">Rs.{{ advanceAmount }}</td>
            </tr>

            <tr>
              <td colspan="3"><strong>Remaining Amount (₹)</strong></td>
              <td colspan="3" style="padding-right:56px;">Rs.{{ getRemainingAmount() }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn custom-pdf-btn mb-3 mt-2 w-100" (click)="exportToPDF()">
        <i class="bi bi-file-earmark-pdf"></i> Export to PDF
      </button>

    </section>
  </div>
</div>