<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100 bg-dark text-white flex-column">
  <div class="card neon-card text-white p-4 border-0" style="width: 100%; max-width: 420px;">
    <h3 class="text-center mb-4 fw-bold">ASR FORM</h3>

    <form autocomplete="off">
      <div class="mb-3">
        <label for="productname" class="form-label">Product Name</label>
        <input type="text" id="productname" class="form-control dark-input" placeholder="Enter product name " required
          [(ngModel)]="ProductName" name="productname">
      </div>

      <div class="mb-3">
        <label for="productsize" class="form-label">Product Size </label>
        <input type="text" id="productsize" class="form-control dark-input" placeholder="Enter product size" required
          [(ngModel)]="ProductSize" name="productsize">
      </div>

      <div class="mb-3">
        <label for="productquantity" class="form-label">Product Quantity </label>
        <input type="number" id="productquantity" min="1" class="form-control dark-input"
          placeholder="Enter product quantity" required [(ngModel)]="ProductQuantity" name="productquantity">
      </div>
      <button type="button" class="btn btn-accent w-100 mt-2" (click)="save
            ()">{{ isEditMode ? 'Update' : 'Save' }}</button>
    </form>
  </div>
  <div>
   
    
    <section hidden id="tablesection">
      <div class="mb-3 d-flex gap-2 flex-wrap ">
        <input
          type="text"
          class="form-control bg-black text-white"
          placeholder="Search product name"
          [(ngModel)]="searchTerm"
        />
      </div>

      <table style="color: white;font-weight: bold;">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product Name</th>
            <th>Product Size</th>
            <th>Product Quantity</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts(); let i = index">
            <td>{{ i + 1 }}</td>
            <td [innerHTML]="highlightMatch(product.name, searchTerm)"></td>

            <td>{{ product.size }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <button class="btn btn-sm btn-success" (click)="editProduct(product)">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
          
        </tbody>
        
      </table>
      <button class="btn custom-pdf-btn mb-3 mt-2" (click)="exportToPDF()">
        <i class="bi bi-file-earmark-pdf"></i> Export to PDF
      </button>
    </section>
  </div>
</div>